name: release_xtls

on:
  push:
    branches:
      - release_xtls
  pull_request:
    branches:
      - release_xtls

jobs:

  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Version Tag
        run: |
          echo "VERSION=v1.0.0" >> $GITHUB_ENV
          echo "VERSIONTAG=xtls.v1.0.0" >> $GITHUB_ENV
          echo "VERSIONNAME=xtls/xray v1.0.0" >> $GITHUB_ENV

      - name: Update Core
        run: |
          curl -L -o app/libs/libv2ray.aar.zip https://github.com/rurirei/go-libv2ray/releases/download/${{ env.VERSIONTAG }}/libv2ray.aar.zip
          pushd app/libs/ && unzip -o libv2ray.aar.zip && popd
          echo $(ls -l app/libs/libv2ray.aar)

      - name: Release Build
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease

      - name: Signing Generator
        run: |
          echo y | keytool -genkeypair -dname "cn=example, ou=example, o=example, c=example" -keystore release.keystore -alias kitsunebi -storepass example -keypass example -keyalg RSA -keysize 2048 -validity 100000
          openssl base64 < release.keystore | tr -d '\n' | tee key.base64.txt
          echo key.base64.txt

      - name: Signing Android Build
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: /u3+7QAAAAIAAAABAAAAAQAJa2l0c3VuZWJpAAABdUvHSOcAAAUBMIIE/TAOBgorBgEEASoCEQEBBQAEggTpeFrmIU4OWoAQQ2dJjNgHlY9PzJbdx7VfyZ21fJH6dpiZhrqG3UyCJcCMUqHh5uR6+44SR6xtFHWIRmuu35uY+Tt34UxBkObg6Ai6RvfEwOmLoKbV9AxG+An5JFFDc1UfuXHviAIpKKd8uL/a9fcrv2xmD78u4Dsi9+KgiUfzpEssiRH0BCZRvvHBU1lxeDngq0RTUrtlmZpuC7Khw+HK4ql4RhaIK8XtQ2IqwPtaE9UjenYA4SwNPFKhaK3Ad4heYNtoXfkq7ih+919L53143q9IeSCoOLah6JRPMIRibP/fVRCFufN6VulGc1x2mFOMUmimCqm4KnxVtwwi0h4hzLEsW/cHmxWdm18plPaFTHVQv6ds0g6tgh5ukA+zl2Mn/ImdNDi28YHgpYw3IRNMfGxzsBipWH3DzC4tKI/yXaX1loxXdYK8BFnnTIiu3bbOOC0yqBPDPqzBpdj70xGsA64AoQYGshnjUl68wcLJi0Ks1zKXIR+Rl6df3sltPXonC+SBK9Latqun95f6NBx5k7GAcEXmLkrWMgW6eDGcvThjxMlvz7kAQpc56pBpjPhZ0ZLFiphhmUdGIVQHZbbM/FT7V+R/Xl1Dl4rOszq/XKPWZFTor7+bBBbIvbZBlC8thSn9JiVnXwVPu+tbLuHDq0LyhPbHpd7JOH5U+0ZQHeJ3xLoAwZ+yyLILK8NHg/b+mvG76Ms+sVIQhzb3cPyFfCr3+X+OEGhA97Dl2pTO393CH28NZNRoQIAcCKYhXNIkq+TVD80e5HJWmLGKavLRmAM8z8TOpPsgkNBt4iN6O4LuWYsDhgfsFhoAIO3iHCdkowbPCqzecofB3JY47nuxJrg8xiU7gZ+IZJSnnSz4WBHeczptYwaOzLwkEoNzfT612mNBd7cWoV1DGGS/Sn/j95i4lmrQkVlWzKm6jjQY1RmgFvqF7DIlN+a6x9hGuKb140muUubRqZDKX1wHEbVmJk2W/2yg4yhOaEADlN/LBnFEIE1FFnvVnOVPFBZMdGN/Hd4rYUO4eX1+fdDZkyOmMW42JTqs8IzJEaXZL+tHlkBnKcMDWlUSWMVDGO9Y7YEDL5J0fRl6kf0L3HOOhvMRMRdHsL4U+XjxTdm+MHVHSaWC9dak4dZdf/ZWwNx1A9Rub9G46FRpas/MDaIH8beBaboLdtl+yWNNaTbwXiqrkO2dKPXMw9ghHfSmFhhy1jguHN5u+6PMbxVn97zdaMyNzcrvYS2qHobcxkE4Zv/mj4nktDqX9kx/WhyQBMFmX+ZMQ1QO+aHEFOUy4kA+lMi3UBZDJZZ+oNCxfZq6B90mwhZCnY3l1KrUPGriOywm+vBPlduZtta3/EEtB8gelCp22DzuJPbPvYMpdj8blgh6XULsjDsWGursQISRi+k6BS5LijQnHMZQHzXW4V5GpfM3HpeOQ7UUm5Qsv7SzvCtELDn1tTRB87bSEycEAY+0XZ9Ry728SGwbvbAkYCFViBARZMW7ttS2BOUNWPkI6jcLxfXE0pxebMB2IDPK+3E0nstkbOGYY5rhjBpMK49iPGSEBv/KTSycuMBCNofnX3xqFVtGu76rOHnQrvwkCRg9ByAVPKxbGC1gXT/gqr6TO2qqp65jBFeNnI7PLCpVwM89V6aDC5d99yclevFJ0hI2kgVVn/J5M+YknNTQAAAAAQAFWC41MDkAAAM1MIIDMTCCAhmgAwIBAgIEP4B3uzANBgkqhkiG9w0BAQsFADBIMRAwDgYDVQQGEwdleGFtcGxlMRAwDgYDVQQKEwdleGFtcGxlMRAwDgYDVQQLEwdleGFtcGxlMRAwDgYDVQQDEwdleGFtcGxlMCAXDTIwMTAyMTE1MjkxMloYDzIyOTQwODA2MTUyOTEyWjBIMRAwDgYDVQQGEwdleGFtcGxlMRAwDgYDVQQKEwdleGFtcGxlMRAwDgYDVQQLEwdleGFtcGxlMRAwDgYDVQQDEwdleGFtcGxlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqdKMILQ0ay27LmisXgxvlxTtRXrfkZ0lG8CjZCr5woopZDJ5QlmKZ6hhJJ1DHQr7FPADtPkJrFk2BrgSrQrJKP2/f2OOYmQfHqtOYdnN5gqpiu8SphInoBX4ChGtQSJ21nSpqr8o1qTGRnD7WZWKA+Q5xsiHWlq5ArrsGQGpNxQoaC278R3ub/2chvuzP16XC1wxNZTKjLywwCe/3EEbwdk2QuXghtB1OVXetzh4wnGW42B/tCUZ8SqLrZsGhRcgPvBP4rQWhBk7ULep+CXICe+uQrFjWW5Wxxri6ZcIv3M4BGoPxQnrZpIr7ieoxT+H5qIkWz1/EaMXJpi6Ps4sMwIDAQABoyEwHzAdBgNVHQ4EFgQUI13WxQ4Yt+/DHVlO4LIiMarWg1swDQYJKoZIhvcNAQELBQADggEBAGoDx99wQzDcbdjkb0b97+W6DEfdEb8S8RIfDfJXk2tzmkfoPKJNudLwdsaptEPsRoYjjUo4kDV/GbhYP4w/aqCuZ/JlgJXB19hp4FH0Ewizh7B5HiS8teiVruIne2bvCwD88yEspYjm2hbt5xadRb7IXbjCZciG3eAScSGDhOdyXpZo2zmO/7AgZdDTrZF/M8pMvWAHNLOLHsVx+AlSaqGbmCEr1harWJymYpILhLCAyTxKLQ1M1C38938iZYEODlzG7mH15Yp/Yfv0IoJFSpQRPIpjRW0wd5kM5x9NeJEt6h87EYijHUJLxntEtsO6ZeI5kid3fnTTcTdGL4lJXDchNyB7fiq9k5jFmq7wmKsOI2qN1g==key.base64.txt
          alias: kitsunebi
          keyStorePassword: example
          keyPassword: example
        env:
          BUILD_TOOLS_VERSION: "30.0.2"

      - name: Upload tha APK to the Release on Github
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.VERSIONTAG }}
          name: ${{ env.VERSIONNAME }}
          files: ${{ steps.sign_app.outputs.signedReleaseFile }}
          allow_override: true
          gzip: false
